{{#if supportsLiquidFire}}
  <div class="pop-over-container">
    {{#liquid-if active class="liquid-pop-over"}}
      <span class="pop-over-pointer orient-{{orientation}}"></span>
      {{yield}}
    {{/liquid-if}}
  </div>
{{/if}}
{{#if active}}
  <div class="pop-over-container {{if supportsLiquidFire "pop-over-hidden"}}">
    <span class="pop-over-pointer orient-{{orientation}}"></span>
    {{yield}}
  </div>
{{/if}}
