{{#if supportsLiquidFire}}
  <div class="pop-over-compass">
    {{#liquid-if active class="liquid-pop-over"}}
      <div class="pop-over-container">
        <span class="pop-over-pointer orient-{{orientation}}"></span>
        {{yield}}
      </div>
    {{/liquid-if}}
  </div>
{{else}}
  {{#if active}}
    <div class="pop-over-compass">
      <div class="pop-over-container">
        <span class="pop-over-pointer orient-{{orientation}}"></span>
        {{yield}}
      </div>
    </div>
  {{/if}}
{{/if}}
