{{#if supportsLiquidFire}}
  {{#liquid-if active class="liquid-pop-over"}}
    <div class="pop-over-compass">
      <div class="pop-over-container">
        {{#if (not over)}}
          <span class="pop-over-pointer orient-{{orientation}}"></span>
        {{/if}}
        {{yield}}
      </div>
    </div>
  {{/liquid-if}}
{{else if active}}
  <div class="pop-over-compass">
    <div class="pop-over-container">
      {{#if (not over)}}
        <span class="pop-over-pointer orient-{{orientation}}"></span>
      {{/if}}
      {{yield}}
    </div>
  </div>
{{/if}}
